/* src/styles/HomePage.module.css */


.backgroundContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.heroBackground {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 95%;
    object-fit: cover;
    z-index: 1;
}


.heroImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: auto;
    height: 100%;
}