.invitation-gradient {
  background: var(--invitation-gradient);
}

.cyrocoinImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 600px;
  max-height: 400px;
  height: auto; /**/
  margin: 0 auto; /* Center the image */
  overflow: hidden;
  position: relative;
}

.cyrocoinImageContainer .cyrocoinImage {
  bottom: 0;
  top: -80px;
}

/* Extra Small Devices (Phones, < 480px) */
@media (max-width: 480px) {
}

/* Small Devices (Phones, Tablets, < 768px) */
@media (max-width: 768px) {
}

/* Medium Devices (Tablets, < 1024px) */
@media (max-width: 1024px) {
}

@media (max-width: 1199px) {
}
