/* .backgroundNav {
    background-color: var(--primary-color) !important;
} */
/* Targets the social nav item */


/* NavigationBar.module.css */
.navContainer {
    
    align-items: center; 
    gap: 20px;
    border: none !important;
    border-width: 0 !important;
    box-shadow: none !important;
}

/* Target Bootstrap's nav-link class in active state */
.nav-tabs .nav-link {
    border-radius: 0 !important;
    border: none !important;
}

.navItem {
    flex-basis: unset !important;
    margin: 0 10px; 
}


/* Override Bootstrap styles */

.customNavLink {
    flex-basis: auto; 
    padding: 0 10px;
    text-align: center;
}


/* NavigationBar.module.css */
.customNavLink.active {
    background-color: var(--secondary-color); /* Change to your desired color */
    color: white; /* Change the text color if needed */
    border-radius: 0 !important; /* Ensure the border radius is set to zero */
    border: none !important; /* Ensure no border is applied */
}

/* Optionally, if you want to add hover styles for the active state */
.customNavLink.active:hover {
    background-color: var(--quinary-color); /* Change this to your desired hover color */
    color: var(--background-color);
    /* color: white; Keep text color consistent on hover */
}



.navContainer .navItem .navLinkBold {
    font-weight: 700;
    color: var(--background-color);
}


.navContainer  .navLinkBold :nth-child(5) {
    font-weight: 700;
    border: none !important;
}

.navContainer  .navLinkBold :nth-child(5):hover {
    font-weight: 700;
    border: none !important;
}



/* .dropdown-toggle:focus, .drop-toggle:active {
    outline: none;
    box-shadow: none;
} */


/* #basic-nav-dropdown {
    border-radius: none;
} */


/* ! dropdownContainer is not present in styles but is set up as a classname in Nav componen  */