/* NavigationBar Styles Structure */

/* Background color for the Alert component */
.customAlertBackground {
    background: var(--quaternary-color) !important; /* Set background color */
    border: none !important; /* Remove border */
    margin-bottom: 0 !important; /* Corrected to ensure there's no bottom margin */
}

/* Navigation Container */
.navContainer {  
    align-items: center; /* Align items vertically */
    gap: 20px; /* Space between nav items */
    border: none !important; /* Remove borders */
    box-shadow: none !important; /* Remove shadow effect */
}



/* Override Bootstrap's nav-link styles */
.nav-tabs .nav-link {
    border-radius: 0 !important; /* Remove border radius */
    border: none !important; /* Ensure no border is applied */
}

/* Navigation Item Styles */
.navItem {
    flex-basis: unset !important; /* Reset flex basis for items */
    margin: 0 10px; /* Horizontal spacing */
}

/* Bold Link Styles */
.navContainer  .navLinkBold.navLinkBold {
    font-weight: 700; /* Bold text */
    color: var(--background-color);

}

/* Specific styles for the fifth child in the navLinkBold class */
.navContainer .navLinkBold:nth-child(5) {
    font-weight: 700; /* Maintain bold text */
    border: none !important; /* Ensure no border is applied */
}

.navContainer .navLinkBold:nth-child(5):hover {
    /* Maintain hover state styling, if needed */
    border: none !important; /* Ensure no border on hover */
}


.dropdownItemsContainer {
    background-color: var(--dropdown-color-transparent);
    margin: 3px;
}


/* Icon Styles in Dropdown */
/* ! Fix this specificity */
 .dropdownItemsContainer .dropdownItem .iconLeft {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    margin-bottom: 5px;
    vertical-align: middle;
}





/* ! dropdownContainer is not present in styles but is set up as a classname in Nav componen  */