:root {
  --background-color: #ffff;
  --primary-color: #343434;
  --secondary-color: #FFE236 ;
  --teritary-color: linear-gradient(to bottom, #0B0F13 0%, #D6B759 50%, #D09C52 100%);
  --quaternary-color: linear-gradient(90deg, #545252 0%, #8B8787 100%);
  --quinary-color: #000000;
}

/* Base button styles */
.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer; 
}


/* Primary Button */
.button-primary {
  background-color: var(--teritary-color);
  color: var(--quaternary-color);
}


/* Secondary Button */
.button-secondary {
  background-color: var(--quaternary-color);
  color: var(--quinary-color);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--quaternary-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Anchor styles */
a {
  color: inherit;
  text-decoration: none;
}


